@model EntityLayer.Concrete.Writer

@{
    ViewBag.Title = "EditWriters";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2 style="text-align:center">Yazar Düzenleme Ekranı</h2>

@using (Html.BeginForm("EditWriters", "Writer", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(x => x.WriterID, new { @class = "form-control" })
        <br />
        <h5>@Html.Label("Yazar Adı : ")</h5>
        @Html.TextBoxFor(x => x.WriterName, new { @class = "form-control" })
        <p class="text-red">@Html.ValidationMessageFor(x => x.WriterName)</p>
        <br />
        <h5>@Html.Label("Yazar Soyadı : ")</h5>
        @Html.TextBoxFor(x => x.WriterSurname, new { @class = "form-control" })
        <p class="text-red">@Html.ValidationMessageFor(x => x.WriterSurname)</p>
        <br />
        <h5>@Html.Label("Yazar Ünvanı : ")</h5>
        @Html.TextBoxFor(x => x.WriterTitle, new { @class = "form-control" })
        <p class="text-red">@Html.ValidationMessageFor(x => x.WriterTitle)</p>
        <br />
        <h5>@Html.Label("Yazar Hakkında : ")</h5>
        @Html.TextBoxFor(x => x.WriterAbout, new { @class = "form-control" })
        <p class="text-red">@Html.ValidationMessageFor(x => x.WriterAbout)</p>
        <br />
        <h5>@Html.Label("Yazar Fotoğrafı : ")</h5>
        @Html.TextBoxFor(x => x.WriterImage, new { @class = "form-control" })
        <p class="text-red">@Html.ValidationMessageFor(x => x.WriterImage)</p>
        <br />
        <h5>@Html.Label("Yazar Mail Adresi : ")</h5>
        @Html.TextBoxFor(x => x.WriterMail, new { @class = "form-control" })
        <p class="text-red">@Html.ValidationMessageFor(x => x.WriterMail)</p>
        <br />
        <h5>@Html.Label("Yazar Şifresi : ")</h5>
        @Html.TextBoxFor(x => x.WriterPassword, new { @class = "form-control" })
        <p class="text-red">@Html.ValidationMessageFor(x => x.WriterPassword)</p>
        <br />
        <button class="btn btn-success w-100">Değişiklikleri Uygula</button>
    </div>
}
