@model EntityLayer.Concrete.Category

@{
    ViewBag.Title = "Kategori_Ekleme_Sayfası";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<br />
<h2 style="text-align:center">Kategori Ekle</h2>
<br />
@using (Html.BeginForm("AddCategory", "AdminCategory", FormMethod.Post))
{
    <div class="form-group">
        <h4>@Html.Label("Kategori Adı : ")</h4>
        @Html.TextBoxFor(x => x.CatagoryName, new { @class = "form-control", @placeholder = "Kategori Adı  " })
        @Html.ValidationMessageFor(x => x.CatagoryName)
        <br /><br />
              <h4>@Html.Label("Kategori Açıklaması : ")</h4>
        @Html.TextAreaFor(x => x.CatagoryDescription , new { @class = "form-control", @rows = "6", @placeholder = "Kategori Açıklaması " })
        @Html.ValidationMessageFor(x => x.CatagoryDescription)
        <br /><br />
        <button class="btn btn-success w-100">Kategoriyi Ekle</button>
    </div>
}


